table{
	table-layout: fixed;
    width: 100%;

}
th{
	color: #DC143C;
}
/*heloo ther*/


tr,th,td,thead{
	text-overflow: ellipsis;

}
/*.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
td{
    text-trun
  }
}*/

body{
	/*background: blue;*/
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/** { // this works for all but td
  word-wrap:break-word;
}*/

